* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  background-color: rgba(191, 148, 228, 0.1);
  font-family: 'Montserrat', sans-serif;
  background-repeat:no-repeat;
  background-position: top;
  background-attachment: fixed;
  box-sizing: unset;
}

.profileBanner {
  font-family: 'Montserrat', sans-serif;
  color: black;
  background-color: rgba(0.5,0,0.5,0.2);
  height: 5rem;
  width: 100%;
  display: inline-block;
  
}

.productBanner{
  background-size: cover;
  display: inline-block;
  position: relative;
  margin: auto;
  /*margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;*/
}

.navbar{
  background-color: #DEB6AB;

}

.nav:hover{
  background-color: #AC7D88;
  border-radius: 10px;
}

.registerForm{
  background-color: rgba(255, 192, 203, 0.5);
  padding-top: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  max-width: 35rem;
  margin-bottom: 3rem;
  box-sizing: border-box;
  border-radius: 7px;
  width: 100%;
}

.registerFormControl{
  max-width: 37rem;
}

.registerFormBtn{
  margin-left: 50vh;
  margin-right: 50vh;
}

.loginForm{
  background-color: rgba(0, 255, 0, 0.3);
  padding-top: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  max-width: 35rem;
  margin-bottom: 3rem;
  box-sizing: border-box;
  border-radius: 7px;
  width: 100%;
}

.loginFormBtn{
  align-items: justify;
  margin-left: 40%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.loginFormP{
  text-align: center;
}

.profileBodyBtn {

  font-family: 'Montserrat', sans-serif;
  color: black;
  background-color: #F5F0BB;
  height: auto;
  width: auto;
  padding: 0.5rem;
  display: inline-block;
  border-radius: 10px;
}

.profileBodyBtn:hover {
  background-color: #C4DFAA;
}

.profileBodyBtn:active {
  background-color: #C4DFAA;
  transform: translateY(4px);
}

.generalBtn{
  color: #5E454B;
  background-color: #F3F0D7;
  border-radius: 20px;
  border-color: #F3F0D7;
}

.generalBtn:hover {
  background-color: #E0C097;
  border-radius: 20px;
  border-color: #E0C097;
}

.quantityInput{
  max-width: 250px;
  text-align: center;
}

.quantityBtn{
  max-width: 50px;
  max-height: 250px;
  padding: auto;
  text-align: top,center;
  background-color: #EDCDBB;
  border-color: transparent;
  color: black;
  background-repeat: no-repeat;
  -webkit-tap-highlight-color: transparent !important;
}

.quantityBtn:hover {
  border-color: transparent;
  background-color: #FFEDDB;
  font-weight: bold;
  color: hotpink;
  box-shadow: none;
}
.quantityBtn:inactive {
  border-color: transparent;
  background-color: #FFEDDB;
  font-weight: bold;
  color: hotpink;
  box-shadow: none;
}

.total{
  position: relative;
  float: right;
}

.prodUpdate{
  margin-top: 2rem;
}

.profileBodyCard{
  background-color: #C4DFAA;
}

.homeCard{
  min-height: 100%;
  margin-top: 2rem;
}

.colCard{
  margin-top: 1rem;
}

.colCard:hover{
  transform: scale(1.1);
}

body{
  background-image: url(./images/bg.gif);

}